<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#第一步：导入库" data-toc-modified-id="第一步：导入库-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>第一步：导入库</a></span></li><li><span><a href="#第二步：导入数据集" data-toc-modified-id="第二步：导入数据集-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>第二步：导入数据集</a></span></li><li><span><a href="#第三步：将数据集划分为训练集和测试集" data-toc-modified-id="第三步：将数据集划分为训练集和测试集-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>第三步：将数据集划分为训练集和测试集</a></span></li><li><span><a href="#第四步：特征缩放" data-toc-modified-id="第四步：特征缩放-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>第四步：特征缩放</a></span></li><li><span><a href="#第五步：使用K-NN对训练集进行训练" data-toc-modified-id="第五步：使用K-NN对训练集进行训练-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>第五步：使用K-NN对训练集进行训练</a></span></li><li><span><a href="#第六步：对测试集进行预测" data-toc-modified-id="第六步：对测试集进行预测-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>第六步：对测试集进行预测</a></span></li><li><span><a href="#第七步：生成混淆矩阵" data-toc-modified-id="第七步：生成混淆矩阵-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>第七步：生成混淆矩阵</a></span></li></ul></div>

# 第一步：导入库

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# 第二步：导入数据集

In [2]:
dataset = pd.read_csv('datasets/Social_Network_Ads.csv')
dataset

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
5    15728773    Male   27            58000          0
6    15598044  Female   27            84000          0
7    15694829  Female   32           150000          1
8    15600575    Male   25            33000          0
9    15727311  Female   35            65000          0
10   15570769  Female   26            80000          0
11   15606274  Female   26            52000          0
12   15746139    Male   20            86000          0
13   15704987    Male   32            18000          0
14   15628972    Male   18            82000          0
15   15697686    Male   29            80000          0
16   15733883    Male   47            25000          1
17   15617482    Male   45            26000          1
18   15704583    Male   46            28000          1
19   15621083  Female   48            29000          1
20   15649487    Male   45            22000          1
21   15736760  Female   47            49000          1
22   15714658    Male   48            41000          1
23   15599081  Female   45            22000          1
24   15705113    Male   46            23000          1
25   15631159    Male   47            20000          1
26   15792818    Male   49            28000          1
27   15633531  Female   47            30000          1
28   15744529    Male   29            43000          0
29   15669656    Male   31            18000          0
..        ...     ...  ...              ...        ...
370  15611430  Female   60            46000          1
371  15774744    Male   60            83000          1
372  15629885  Female   39            73000          0
373  15708791    Male   59           130000          1
374  15793890  Female   37            80000          0
375  15646091  Female   46            32000          1
376  15596984  Female   46            74000          0
377  15800215  Female   42            53000          0
378  15577806    Male   41            87000          1
379  15749381  Female   58            23000          1
380  15683758    Male   42            64000          0
381  15670615    Male   48            33000          1
382  15715622  Female   44           139000          1
383  15707634    Male   49            28000          1
384  15806901  Female   57            33000          1
385  15775335    Male   56            60000          1
386  15724150  Female   49            39000          1
387  15627220    Male   39            71000          0
388  15672330    Male   47            34000          1
389  15668521  Female   48            35000          1
390  15807837    Male   48            33000          1
391  15592570    Male   47            23000          1
392  15748589  Female   45            45000          1
393  15635893    Male   60            42000          1
394  15757632  Female   39            59000          0
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [3]:
dataset.describe()

            User ID         Age  EstimatedSalary   Purchased
count  4.000000e+02  400.000000       400.000000  400.000000
mean   1.569154e+07   37.655000     69742.500000    0.357500
std    7.165832e+04   10.482877     34096.960282    0.479864
min    1.556669e+07   18.000000     15000.000000    0.000000
25%    1.562676e+07   29.750000     43000.000000    0.000000
50%    1.569434e+07   37.000000     70000.000000    0.000000
75%    1.575036e+07   46.000000     88000.000000    1.000000
max    1.581524e+07   60.000000    150000.000000    1.000000

In [4]:
dataset.shape

(400, 5)

为了方便理解，这里我们只取Age年龄和EstimatedSalary估计工资作为特征

In [5]:
X = dataset.iloc[:, [2, 3]].values
Y = dataset.iloc[:, -1].values

# 第三步：将数据集划分为训练集和测试集

In [6]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.25, random_state=0)

# 第四步：特征缩放

In [7]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

C:\Users\z\Anaconda3\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)
C:\Users\z\Anaconda3\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)
C:\Users\z\Anaconda3\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

# 第五步：使用K-NN对训练集进行训练
从sklearn的neighbors类中导入KNeighborsClassifier学习器

In [8]:
from sklearn.neighbors import KNeighborsClassifier

设置好相关的参数 n_neighbors = 5(K值的选择，默认选择5)、 metric = 'minkowski'(距离度量的选择，这里选择的是闵氏距离(默认参数))、 p = 2 (距离度量metric的附属参数，只用于闵氏距离和带权重闵氏距离中p值的选择，p=1为曼哈顿距离， p=2为欧式距离。默认为2)

In [9]:
classifier = KNeighborsClassifier(n_neighbors=5, # k值
                                  metric='minkowski', # 距离度量的选择
                                  p=2) # 欧式距离
classifier.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=5, p=2,
           weights='uniform')

#  第六步：对测试集进行预测

In [10]:
y_pred = classifier.predict(X_test)
y_pred

array([0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1], dtype=int64)

# 第七步：生成混淆矩阵

In [11]:
from sklearn.metrics import confusion_matrix

cm = confusion_matrix(y_test, y_pred)
print(cm)

[[64  4]
 [ 3 29]]

预测值
    0    1
实0  64   4   
际1  3   29
值

预测集中的0总共有68个，1总共有32个。 在这个混淆矩阵中，实际有68个0，但K-NN预测出有67(64+3)个0，其中有3个实际上是1。 同时K-NN预测出有33(4+29)个1，其中4个实际上是0。

In [12]:
from sklearn.metrics import r2_score
print('Y_test vs y_pred')
print(r2_score(y_test, y_pred))

Y_test vs y_pred
0.6783088235294117